.sorted__home {
    font-size: 1.1rem;
    margin-left: 2rem;
    margin-top: 2rem;
    text-decoration: underline;
}

.sorted__cat__container {
    width: 80%;
    margin-top: 2rem;
    margin: auto;
}

.sorted__cat__container h2 {
    text-transform: uppercase;
}

.sorted__notes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

@media screen and (max-width: 800px) {
}