.note__container {
    background: var(--cyan);
    color: var(--white);
    border-radius: 8px;
    width: 15rem;
    padding: 0.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.note__category {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* background-color: var(--pink); */
    margin-right: 0.5rem;
}