.profile__container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
}

.user__profile__avatar {
    margin-top: 3rem;
}

.profile__avatar {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: var(--cyan);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
}

.profile__avatar p {
    font-size: 3rem;
    font-weight: bolder;
}

.user__profile__name {
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: bold;
}

.profile__user__details ul {
    list-style: none;
    margin: 0;
    padding: 0;
    justify-self: flex-start;
}
