label {
    display: block;
    font-weight: bold;
}

.update__note__container {
    width: 50%;
    margin: 1rem auto;
}

#title {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

#note {
    width: 100%;
    box-sizing: border-box;
    resize: none;
}

.update__category {
    margin-bottom: 1rem;
}

.update__category select {
    width: 100%;
    padding: 0.5rem;
    font-size: 1.05rem;
}

.update__cancel__note {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.update__cancel__note input, .update__cancel__note a {
    color: var(--white);
    border: none;
    padding: 0.5rem 1rem;
    background-color: var(--purple);
    border-radius: 8px;
}

.update__cancel__note a {
    padding: 0.2rem 1.5rem;
    text-decoration: none;
    background-color: var(--pink);
}


@media screen and (max-width: 800px) {
    .update__note__container {
        width: 90%;
    }
}